/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS
  - SPECIFIC PAGES
    - Page Name
---------------------------
Website Fonts: Montserrat:400,500,600,700,900
Website Colours: #26de81 (default bg color),
----------------------------
*/

/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid green;
}

img {
  max-width: 100%;
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left-text         { text-align: left; }
.centered-text     { text-align: center; }
.right-text        { text-align: right; }

.rotated-text-to-left {
  height: 100%;
  width: 100%;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  /* Safari */
  -webkit-transform: rotate(-180deg);
  /* Firefox */
  -moz-transform: rotate(-180deg);
  /* IE */
  -ms-transform: rotate(-180deg);
  /* Opera */
  -o-transform: rotate(-180deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotated-text-to-right {
  height: 100%;
  width: 100%;
  writing-mode: vertical-lr;
}

.no-padding { padding: 0; }

.padded-1 { padding: 1%; }
.padded-3 { padding: 3%; }
.padded-5 { padding: 5%; }

.padded-top-1 { padding-top: 1%;}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.navigate-top {
  right: 0;
  bottom: 0;
  padding: 1%;
  margin: 1%;
  background-color: yellow;
  border-radius: 50%;
}

.centered-container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.mob-show { display: none;}

.bg-img {
  background-color: grey;
  background-size: cover;
  background-position: center;
}

/* ----- UNIVERSAL STYLES --------------------------- */
nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

nav a {
  text-transform: uppercase;
}

.bg-featured {
  background-color: #26de81;
  color: white;
}

.featured h1,
.featured h2,
.featured h3 {
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background: rgb(26, 188, 156);
  color: white;
}

header, section, footer {
  min-height:100vh;
}

h1, h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 5vw;
  line-height: 0.9em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

header, section, footer h1 {
  text-transform: uppercase;
}

p {
	font-weight: light;
	color: #333333;
}

span a {
  color: #fc5c65;
  text-decoration: none;
	font-size: 18px;
	margin: 0 10px;
	transition: all 0.4s ease-in-out;
	&:hover {
		color: #ffffff;
	}
}

/* button {
  border: 1px solid red;
} */

.col, [class*=col-] {
  padding: 2%;
}

.fa {
  font-size: 2.5em;
  margin: 0 0 0.5em;
  color: white;
}

.avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 20px 10px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/*------------ ABOUT ME --------------------------- */
#about-me {
	background: -moz-linear-gradient(180deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(180deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%); /* check if works */
}

.about-me-content {
	max-width: 40vw;
	/* padding: 1rem 2rem; */
}

/*------------ PROJECTS --------------------------- */
#projects {
	background: -moz-linear-gradient(180deg, rgba(142, 68, 173, 1) 0%, rgba(26, 188, 156, 1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(142, 68, 173, 1) 0%, rgba(26, 188, 156, 1) 100%);
	background: linear-gradient(180deg, rgba(142, 68, 173, 1) 0%, rgba(26, 188, 156, 1) 100%);
}

.project-box {
  background-image: url("https://unsplash.it/300");
  background-size: cover;
  background-position: center;
  width: 30%;
  min-height: 200px;
}

.project-overlay {
  /* height: 100%;
  width: 100%;
  padding: 20%;
  text-align: center; */
  opacity: 0;
  background-color: rgba(60,60,65,0.5);
  transition: all 0.5s;
}

.project-overlay:hover {
  opacity:1;
}

.project-overlay:hover p {
  color: red;
}

/*------------ TECH --------------------------- */
#technology {
	background: -moz-linear-gradient(180deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(180deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%); /* check if works */
}

/*------------ PUBLICATIONS --------------------------- */
#publications {
	background: -moz-linear-gradient(180deg, rgba(142, 68, 173, 1) 0%, rgba(26, 188, 156, 1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(142, 68, 173, 1) 0%, rgba(26, 188, 156, 1) 100%);
	background: linear-gradient(180deg, rgba(142, 68, 173, 1) 0%, rgba(26, 188, 156, 1) 100%);
}

/*------------ TALKS & WORKSHOPS --------------------------- */
#talks_and_workshops {
	background: -moz-linear-gradient(180deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(180deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%); /* check if works */
}

/*------------ CONTACT ME --------------------------- */
#contact-me {
	background: -moz-linear-gradient(180deg, rgba(142, 68, 173, 1) 0%, rgba(26, 188, 156, 1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(142, 68, 173, 1) 0%, rgba(26, 188, 156, 1) 100%);
	background: linear-gradient(180deg, rgba(142, 68, 173, 1) 0%, rgba(26, 188, 156, 1) 100%);
}

form input,
form textarea {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  outline: none;
  outline-style: none;
  background-color: transparent;

  color: yellow;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid yellow 1px;
  padding: 3px 10px;
}

[type="submit"] {
  border: none;
}

form textarea {
  border-bottom: none;
  height: 12rem;
  padding: 3px;
  resize: none;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.button {
  border: none;
  border-bottom: 2px solid yellow;
  padding-bottom: 4px;
  display: inline-block;
}

.button:after {
  content: '';
  border-top: 2px solid yellow;
  display: block;
  width: 100%;
}

.notes {
    background-attachment: local;
    background-image:
    repeating-linear-gradient(transparent, transparent 30px, yellow 30px, yellow 31px, transparent 31px);
    line-height: 31px;
}
