<!----------------- CONTACT ME & COPYRIGHT ----------------->
<footer id="contact-me">
  <div id="contact-me-insides" class="grid">
    <div class="col-2 centered-container">
      <h2 class="rotated-text-to-left centered-text">Contact</h2>
    </div>

    <div class="col-10">
      <div class="grid">
        <div class="col-6_sm-12 contact-text">
          <h3>{{page.footer-title}}</h3>
          <p>{{page.footer-text}}</p>
        </div>

        <div class="col-6_sm-12">
          <form action="https://formspree.io/tonia.tkachuk@gmail.com" method="POST">
            <label for="name">Your Name</label>
            <input id="name" type="text" name="name">
            <label for="mail">Your Email</label>
            <input id="mail" type="email" name="_replyto">
            <label for="mail-content">Message</label>
            <textarea id="mail-content" class="form-message" name="message"></textarea>
            <div class="flex-right">
              <div class="button">
                <input type="submit" value=" Send ">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12-bottom centered-text">
      <p>{{page.copyright}}</p>
    </div>
  </div>
</footer>
