<!----------------- CONTACT ME & COPYRIGHT ----------------->
<footer id="contact-me">
  <div class="grid">
    <div class="col-2 centered-container">
      <h2 class="rotated-text-to-left centered-text">Contact</h2>
    </div>

    <div class="col-10">
      <div class="grid">
        <div class="col-6_sm-12 contact-text">
          <h3>Have a question or a job offer?</h3>
          <p>I always enjoy receiving emails from the real people instead of some ads and newsletters (although <a href="https://android.libhunt.com/newsletter" target="_blank">Awesome Android</a> and <a href="http://www.kotlinweekly.net/" target="_blank">Kotlin Weekly</a> are pretty cool!) So, just fill in the form and send me a message. I will reply to you the same day.</p>
        </div>

        <div class="col-6_sm-12">
          <form action="https://formspree.io/your@email.com" method="POST"> <!-- TODO: make the form work! -->
            <label for="name">Your Name</label>
            <input id="name" type="text" name="name">
            <label for="mail">Your Email</label>
            <input id="mail" type="email" name="_replyto">
            <label for="mail-content">Message</label>
            <textarea id="mail-content" class="form-message" name="message"></textarea>
            <div class="flex-right">
              <div class="button">
                <input type="submit" value=" Send ">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12-bottom centered-text">
      <p>Copyright @ Tonia Tkachuk, 2018</p>
    </div>
  </div>
</footer>
