<!----------------- ABOUT ME ----------------->
<header class="grid-middle" id="about-me">
  <!-- this is the fixed header that stays pinned to the top -->
  <div class="col-12-center">
    <nav class="mobile-hide">
      <a href="#projects">Projects</a>
      <h3> | </h3>
      <a href="#technology">Technology</a>
      <h3> | </h3>
      <a href="#talks_and_workshops">Talks & Workshops</a>
      <h3> | </h3>
      <a href="#publications">Publications</a>
      <h3> | </h3>
      <a href="#contact-me">Contact</a>
    </nav>

    <nav class="mobile-show">
      <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
      </div>
      <div class="burger-menu">
        <div class="burger-menu-content">
          <a href="#projects">Projects</a>
          <a href="#technology">Technology</a>
          <a href="#talks_and_workshops">Talks & Workshops</a>
          <a href="#publications">Publications</a>
          <a href="#contact-me">Contact</a>
        </div>
      </div>
    </nav>
  </div>

  <div class="col-12 centered-text">
    <div class="avatar centered-block">
      <a href="{{page.blog-url}}" target="_blank">
        <img class="profile" src="img/tonia_tkachuk_profile.jpg" alt="Profile picture" />
      </a>
    </div>
    <h1>{{page.my-name}}</h1>
    <h4 class="padded-1">{{page.my-title}}</h4>
    <p class="about-me-content">{{page.about-me}}</p>
    <p class="padded-3">
      <span><a href="mailto:tonia.tkachuk@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></span>
      <span><a href="https://github.com/lomza" target="_blank"><i class="fab fa-github"></i></a></span>
      <span><a href="https://www.linkedin.com/in/tonia-tkachuk-811a1346/" target="_blank"><i class="fab fa-linkedin"></i></a></span>
      <span><a href="https://medium.com/@tonia.tkachuk" target="_blank"><i class="fab fa-medium"></i></a></span>
      <span><a href="https://twitter.com/lomza_t" target="_blank"><i class="fab fa-twitter"></i></a></span>
    </p>
  </div>

  <div class="col-12-bottom centered-text navigate-down">
    <a href="#projects">
      <i class="fas fa-angle-down"></i>
    </a>
  </div>
</header>
